recursive-include djangoql/static *.css *.png *.gif *.js
recursive-include djangoql/templates *.html
recursive-include test_project *.py *.html
include README.rst LICENSE

global-exclude .DS_Store __pycache__
