#changelist #toolbar form textarea#searchbar {
  flex-grow: 1;
  margin-right: 5px;
}

#changelist-search div {
  display: flex;
  align-items: baseline;
}

.djangoql-toggle {
  margin-right: 10px;
}
