.djangoql-query-area {
    display: inline-block;
    width: 80%
}

.icon {
    background-position: 0 0 !important;
    background-size: 18px auto;
    display: inline-block;
    height: 18px;
    margin: 2px 0 0 1%;
    padding: 0 0 0 0;
    vertical-align: top;
    width: 18px;
}

.viewlink {
    background: url(../img/icon-menu.svg) 0 1px no-repeat;
    padding-left: 16px;
}

.query-name-bar {
    display: inline-block;
    height: 20px;
    margin: 0 0 4px 20px;
    padding: 0 0 3px 0;
    text-decoration: underline;
    width: 80%;
}

.search-queries {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    margin: 10px 0 0 0;
    min-width: 40%;
    position: absolute;
    right: 35%;
    z-index: 1;
}

#query-name {
    height: 9px;
    width: 70%;
}

#edit-name {
    display: none;
}

#find-query-input {
    margin: 10px 0 0 15px;
    width: 90%;
}

.save-query-form {
    display: none;
}

.query-list-element {
    border: 1px solid;
    list-style-type: none;
    padding: 5px;
}

.delete-query {
    border-radius: 4px;
    color: #fff !important;
    display: block;
    float: right;
    height: 14px;
    line-height: 14px;
    padding: 10px 15px;
}

.query-element {
    display: inline-block;
    width: 80%;
}

.query-body {
    margin: 0 0 0 10px;
}

#query-list {
    margin: 5px;
}

.save-query-form {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    margin: 10px 0 0 0;
    min-height: 120px;
    position: absolute;
    right: 35%;
    z-index: 1;
}

.button-wrap {
    bottom: 2%;
    position: absolute;
    width: 96%;
}

#save-query-form {
    margin: 2% 2% 0 2%;
    width: 96%;
}

#create-query {
    float: right;
}

.query-error {
    background: #ffefef;
    display: inline-block;
    min-height: 22px;
    min-width: 220px;
    padding: 4px 0px 4px 10px;
    width: auto;
}

.query-name-error {
    margin: 2px 0 0 6%;
}

.query-body-error {
    margin: 2px 0 0 24px;
}