{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DjangoQL completion demo</title>
  <link rel="stylesheet" type="text/css" href="{% static 'djangoql/css/completion.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'djangoql/css/saved_queries.css' %}" />
  <script src="{% static 'djangoql/js/lib/lexer.js' %}"></script>
  <script src="{% static 'djangoql/js/helpers.js' %}"></script>
  <script src="{% static 'djangoql/js/saved_queries.js' %}"></script>
  <script src="{% static 'djangoql/js/completion.js' %}"></script>
</head>
<body>

  <form action="" method="get" >
    <p style="color: red">{{ error }}</p>
    <div style="display: flex; align-items: baseline">
      <textarea name="q" cols="40" rows="1" autofocus>{{ q }}</textarea>
      <input type="submit" style="margin: 0 5px;" />
    </div>
  </form>

  <ul>
  {% for item in search_results %}
    <li>{{ item }}</li>
  {% endfor %}
  </ul>

  <script>
    DjangoQL.DOMReady(function () {
      DjangoQL.init({
        // either JS object with a result of DjangoQLSchema(MyModel).as_dict(),
        // or an URL from which this information could be loaded asynchronously
        introspections: {{ introspections|safe }},

        // css selector for query input. It should be a textarea
        selector: 'textarea[name=q]',

        // optional, you can provide URL for Syntax Help link here.
        // If not specified, Syntax Help link will be hidden.
        syntaxHelp: null,

        // optional, enable textarea auto-resize feature. If enabled,
        // textarea will automatically grow its height when entered text
        // doesn't fit, and shrink back when text is removed. The purpose
        // of this is to see full search query without scrolling, could be
        // helpful for really long queries.
        autoResize: true
      });

      SavedQueries.init({
        view: new SavedQueries.View({
          // css selector for form containing the query input.
          // Used to insert a label with the query name into
          formSelector: 'form',

          // css selector for submit button, used to insert saved queries
          // button next to it
          submitSelector: '[type="submit"]',

          // css selector for search input selector
          inputSelector: 'textarea[name=q]',

          // saved queries button text
          buttonText: 'Favorites'
        }),
        repo: new SavedQueries.QueryRepo({
          // backend url used to store queries
          endpoint: '/djangoql/query/',

          // django model
          model: 'user'
        }),
        submitOnSelect: true
      });
    });
  </script>
</body>
</html>
